* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
html,body{
	color: #000000;
	font-family: $font-lato;
	font-weight: 400;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
body {
	background: #5591d4;
}
h3{
    font-family: $font-lato;
    font-weight: 600;
    font-size: 14px;
    color: $ocean-blue;
	margin: 0px;
	padding: 5px 0px;
}
.wrapper {
	max-width: 768px; 
	margin: 0px auto;
}
button {
	@include button_settings();
}
a {
	text-decoration: none;
	color: $dark-grey;
	&:hover {
		color: $light-grey;
	}
}
section {
	padding: 0px 15px;
}