#container {
  margin: 50px 0px;
  .tabs {

    ul.tabs-nav {
      margin: 0px 0px 0px 29px;
      padding: 0px;
      list-style: none;

      .tab {
        display: inline-block;
        margin-right: 1px;

        a {
          @include border-radius(10px 10px 0px 0px)
          background: $light-grey;
          color: $ocean-blue;
          height: 30px;
          line-height: 30px;
          display: block;
          cursor: pointer;
          padding: 0px 15px;
          font-family: $font-lato;
          font-weight: 600;
          font-size: 14px;

          &.active {
            background: #ffffff;
          }
        }
      }
    }
  }
  .tabs-active-content {
    @include border-radius(10px 10px 10px 10px)
    background: #ffffff;
    padding: 15px;

    img {
      float: left;
      margin: 0px 10px 10px 0px;
    }
    .points {
      color: $dark-grey;
    }
    .content-only {
      display: block;
      
      >div {
        display: block;
        padding: 20px 0px;
        border-bottom: 1px solid $dark-grey;

        &:last-child {
          border: 0px none;
        }
      }
    }
  }
}
@media screen and (max-width:780px){ 
  #container .tabs-active-content {
    padding: 15px 0px;

    .content-only {
      >div {
        padding: 15px;
      }
    }
  }
}