$font-lato: 'Lato', Arial, sans-serif;

/** COLORS **/
$dark-grey: #606060;
$light-grey: #eaeaea;
$ocean-blue: #1d6ab7;

@mixin transition($element, $timing, $animation){
  -webkit-transition: $element $timing $animation;
  -moz-transition: $element $timing $animation;
  -o-transition: $element $timing $animation;
  transition: $element $timing $animation;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin linearGradient($top, $bottom){
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin button_settings(){
  border: 0px none;
  text-decoration: none !important;
  margin: 0 auto;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-size: 12px;
  line-height: 13px; 
  padding: 3px 10px 3px 10px;
  text-decoration: none;
  background: $dark-grey;
  @include border-radius(0px 0px 0px 0px);
  @include transition(background, 0.2s, ease-in-out);

  &:hover {
    cursor: pointer;
    @include transition(background, 0.2s, ease-in-out);
    background: $ocean-blue;
  }
}
@mixin opacity($number){
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$number})";
  /* IE 5-7 */
  filter: alpha(opacity=$number);
  /* Netscape */
  -moz-opacity: $number/100;
  /* Safari 1.x */
  -khtml-opacity: $number/100;
  /* Good browsers */
  opacity: $number/100;
}